---
import { Sprite } from "astro-icon";
import Topic from "./components/Topic.astro";
const footerDropBoxLinks = [
  {
    title: "Desktop app",
    link: "#",
  },
  {
    title: "Mobile app",
    link: "#",
  },
  {
    title: "Integrations",
    link: "#",
  },
  {
    title: "Features",
    link: "#",
  },
  {
    title: "Solutions",
    link: "#",
  },
  {
    title: "Do more than store",
    link: "#",
  },
  {
    title: "Security",
    link: "#",
  },
  {
    title: "Advance access",
    link: "#",
  },
];

const footerProductLinks = [
  {
    title: "Plus",
    link: "#",
  },
  {
    title: "Professional",
    link: "#",
  },
  {
    title: "Business",
    link: "#",
  },
  {
    title: "Enterprise",
    link: "#",
  },
  {
    title: "Dropbox Sign",
    link: "#",
  },
  {
    title: "DocSend",
    link: "#",
  },
  {
    title: "Plans",
    link: "#",
  },
  {
    title: "Product updates",
    link: "#",
  },
];

const footerSupportLinks = [
  {
    title: "Help center",
    link: "#",
  },
  {
    title: "Contact us",
    link: "#",
  },
  {
    title: "Privacy & terms",
    link: "#",
  },
  {
    title: "Cookie policy",
    link: "#",
  },
  {
    title: "Cookies & CCPA preferences",
    link: "#",
  },
  {
    title: "Sitemap",
    link: "#",
  },
  {
    title: "Learning resources",
    link: "#",
  },
];

const footerCommunityLinks = [
  {
    title: "Blog",
    link: "#",
  },
  {
    title: "Developers",
    link: "#",
  },
  {
    title: "Community forums",
    link: "#",
  },
  {
    title: "Referrals",
    link: "#",
  },
];

const footerCompanyLinks = [
  {
    title: "About us",
    link: "#",
  },
  {
    title: "Jobs",
    link: "#",
  },
  {
    title: "Investor relations",
    link: "#",
  },
  {
    title: "ESG",
    link: "#",
  },
  {
    title: "Partners",
    link: "#",
  },
];

const socialMedias = [
  {
    name: "Twitter",
    link: "#",
    icon: "twitter",
  },
  {
    name: "Facebook",
    link: "#",
    icon: "facebook",
  },
  {
    name: "Youtube",
    link: "#",
    icon: "youtube",
  },
];
---

<footer>
  <Sprite.Provider>
    <div class="content container">
      <div class="topics">
        <Topic title="DropBox" arrayName={footerDropBoxLinks} />
        <Topic title="Product" arrayName={footerProductLinks} />
        <Topic title="Support" arrayName={footerSupportLinks} />
        <Topic title="Community" arrayName={footerCommunityLinks} />
        <Topic title="Company" arrayName={footerCompanyLinks} />
      </div>
      <div class="divider"></div>
      <div class="social-media">
        <ul>
          {
            socialMedias.map((item) => (
              <li>
                <a href={item.link}>
                  <Sprite name={item.icon} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Sprite.Provider>
</footer>

<style lang="scss">
  footer {
    background-color: #000000;
    color: #fff;
    padding: 72px 0;
    .content {
      .topics {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
      .divider {
        height: 1px;
        background-color: #fff;
        margin: 32px 0;
      }
      .social-media > ul {
        display: flex;
        column-gap: 1rem;
      }
    }
  }

  [astro-icon] {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7f5f2;
  }
</style>
