---
import { Sprite } from "astro-icon";
import Banner from "./components/Banner.astro";

import data from "../../data/banners.json";
---

<section>
  <Sprite.Provider>
    <div class="banners">
      {
        data.map((item) => {
          return (
            <Banner
              icon={item.icon}
              title={item.title}
              mainText={item.mainText}
              subText={item.subText}
              alt={item.alt}
              buttonUrl={item.buttonUrl}
              image={item.image}
            />
          );
        })
      }
    </div>
  </Sprite.Provider>
</section>

<style lang="scss">
  section {
    margin-top: 0.5rem;
  }
  .banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
</style>
